@page
@model Caisse1.Pages.Commandes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Menu Commande</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Command[0].Produit.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Command[0].Produit.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Command[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Command) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Produit.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Produit.Price)
             </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
